[Unit]
Description=ButterOS USB ConfigFS Gadget & ADB Daemon
DefaultDependencies=no
After=systemd-modules-load.service local-fs.target
Before=sysinit.target shutdown.target

[Service]
Type=simple
ExecStart=/usr/local/bin/butteros-setup-gadget.sh
Restart=always
RestartSec=1s

[Install]
WantedBy=sysinit.target
